html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
section.moduleLogin {
    padding: 10% 0px;
}
.btn a {
    color: #ffffff;
}
article li {
    margin: 10px 0px;
}
 #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
  
.ulDescripcion{
    width: 50%;
    display: inline-block;
}
.ulCaracteristicas{
        display: inline-block;
    width: 49%;
    
}