<html lang="es">
    <head>
        <title>Propiedades.com examén </title>
        {% block style %}
            <link href="{{ asset('bundles/propiedades/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/propiedades/css/materialize.min.css') }}"  media="screen,projection"/>
            <meta charset="utf-8"/>
        {% endblock style %}
        {% block script %}
            <script src="{{ asset('bundles/propiedades/js/jquery-3.3.1.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/propiedades/js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/propiedades/js/script.js') }}"></script>
        {% endblock script %}
    </head>
   
    <body>
        <section class="dashboard">
        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a href="#listado">Listado de construcciones</a></li>
                <li class="tab col s3"><a href="#alta">Alta de construcción</a></li>
                <li class="tab col s3"><a href="#mapa">Mapa de construcciones</a></li>
              </ul>
            </div>
            <div id="listado" class="col s12">
                <div class="row">
                    <div class="col s3">Clave</div>
                    <div class="col s3">Nombre</div>
                    <div class="col s3">Delegacion</div>
                    <div class="col s3"></div>
                </div>
                {% if construcciones %}
                            {% for construccion in construcciones %}
                                {% if construccion %}
                                  
                                  <ul class="collapsible">
                                    <li>
                                      <div class="collapsible-header">
                                          <div class="col s3">{{construccion.clave}}</div>
                                          <div class="col s3">{{construccion.nombre}}</div>
                                          <div class="col s3">{{construccion.delegacion}}</div>
                                          <div class="col s3 articulo" id="articulo_{{construccion.id}}" >Ver más</div>
                                      </div>
                                      <div class="collapsible-body">
                                        <article>
                                            <ul class="ulDescripcion">
                                                <li>Nombre: {{construccion.nombre}}</li>
                                                <li>Dirección: {{construccion.calle}}, {{construccion.colonia}},{{construccion.delegacion}}.</li>
                                                <li>Galeria de imagenes</li>
                                                <li>
                                                    <div class="btn update" id="id_{{construccion.id}}">Actualizar</div>
                                                    <div class="btn "><a href="/borrarConstruccion/{{construccion.id}}">Eliminar</a></div>
                                                </li>
                                            </ul>
                                            <ul class="ulCaracteristicas">
                                                <li class="col s12">Caracteristicas</li>
                                                <li class="col s12">
                                                    <div class="col s6 input-field">
                                                    <input id="caracteristica_{{construccion.id}}" name="caracteristica_{{construccion.id}}" type="text" class="validate">
                                                    <label for="caracteristica_{{construccion.id}}">Caracteristicas de la construcción</label>
                                                    </div>
                                                    <div class="btn col s2 btnCarac" id="btn_{{construccion.id}}">Agregar</div>
                                                </li>
                                                <li class="col s12 contentCaract">
                                                    <ul class="ulContent_{{construccion.id}}">
                                                       
                                                    </ul>
                                                </li>
                                            </ul>
                                        </article>
                                      </div>
                                    </li>

                                  </ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
            </div>
                <div class="col s2"></div>
                <div id="alta" class="col s8">
                    <form class="" name="registro_construccion" action="/guardar_construccion">
                    <div class="input-field col s6">
                      <input id="nombre" name="nombre" type="text" class="validate">
                      <label for="nombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="clave" name="clave" type="text" class="validate">
                      <label for="clave">Clave</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="delegacion" name="delegacion" type="text" class="validate">
                      <label for="delegacion">Delegación</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="colonia" name="colonia" type="text" class="validate">
                      <label for="colonia">Colonia</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="calle" name="calle" type="text" class="validate">
                      <label for="calle">Calle</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="longitud" name="longitud" type="text" class="validate">
                      <label for="longitud">Longitud</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="latitud" name="latitud" type="text" class="validate">
                      <label for="latitud">Latitud</label>
                    </div>
                    <div class="input-field col s12 center">
                      <input type="hidden" id="tipo" name="tipo" value="nuevo">
                      <input type="hidden" id="id" name="id" value="">
                      <input type="submit" value="Guardar">  
                    </div>
                    </form>
                </div>
            
            <div id="mapa" class="col s8">
                 <div id="map"></div>
            </div>
          </div>
        </section>
    </body>
</html>

<script type="text/javascript" src="{{ asset('bundles/propiedades/js/maps.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNXSa8poK_u1zqqRfmCcu9yJ1IamYJzsA&callback=initMap" async defer></script>
