<html lang="es">
    <head>
        <title>Propiedades.com examén </title>
        {% block style %}
            <link href="{{ asset('bundles/propiedades/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/propiedades/css/materialize.min.css') }}"  media="screen,projection"/>
            <meta charset="utf-8"/>
        {% endblock style %}
        {% block script %}
            <script src="{{ asset('bundles/propiedades/js/jquery-3.3.1.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/propiedades/js/materialize.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/propiedades/js/script.js') }}"></script>
        {% endblock script %}
    </head>
    <body>
        <section class="moduleLogin">
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12 center">
                  <input id="login" type="submit" value="Entrar">
                </div>
                
                <div class="col s12 center">
                    <a href="/registrate">Registrate</a> 
                </div>
                <div class="col s12 center" id="error">
                    
                </div>
                
            </div>
            <div class="col s4"></div>
        </div>
        </section>
    </body>
</html>